.formContainer {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #272525;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  font-family: "Times New Roman", Times, serif;
}
.form, .formGroup {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.button {
  padding: 10px;
  background-color: #0a0d0f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
