.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  font-size: small;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(23, 17, 17);
}

.searchContainer {
  margin-right: 20px;
}

.searchButton {
  background-color: rgb(184, 180, 180);
  color: whitesmoke;
  padding: 5px 70px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: small;
  font-family: "Times New Roman", Times, serif;
}

.searchButton:hover {
  background-color: #475b71;
}

.linksContainer {
  display: flex;
}

.linksContainer h1 a {
  color: whitesmoke;
  margin-right: 20px;
  text-decoration: none;
}
