.filmCard{
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    padding: 5px;
  }
  .filmCard:hover {
    background-color: rgb(182, 244, 244);
  }