
body {
  background-color: rgb(242, 244, 245); 
}.filmCard {
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
  font-family: "Times New Roman", Times, serif;
  color: black;
  padding: 5px;
  position: relative;
}

.filmCard:hover {
  background-color: rgb(183, 214, 248);
}

.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 16px;
}

.likeButton {
  background: none;
  border: none;
  padding: 0;
  color: black;
  transition: color 0.3s;
}

.likeButton.active {
  color: red;
}
