.footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
}

.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Times New Roman', Times, serif;
}

.footerLinks {
  display: flex;
  align-items: center;
}

.footerLinks p {
  margin-right: 20px;
}

.footerButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  margin-right: 10px;
}

.footerButton:hover {
  color: #3798ec;
}

body {
  padding-bottom: 70px; 
}
