
.footerContainer {
  background-color: black;
  padding: 20px;
  text-align: center;
  color: whitesmoke;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 500; 
  font-family: 'Times New Roman', Times, serif;
}
